{{ define "main" }}
{{ $page := . }}

<section class="page-intro">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <header class="page-header">

          {{ with $page.Params.sectionLabel }}
            <div class="page-header-kicker">{{ . }}</div>
          {{ end }}

          <h1>{{ $page.Title }}</h1>

          <div class="page-header-divider" aria-hidden="true"></div>

          {{ with $page.Params.subTitle }}
            <p class="page-header-subtitle">{{ . }}</p>
          {{ end }}

        </header>
      </div>
    </div>
  </div>
</section>


<section class="story">
  <div class="container">
    <div class="row justify-content-center align-items-start">

      <div class="{{ if $page.Params.sideImage }}col-lg-7{{ else }}col-lg-8{{ end }}">
        <div class="story-content">
          {{ $page.Content }}
        </div>
      </div>

      {{ with $page.Params.sideImage }}
        {{ $image := resources.Get . }}

        {{ with $image }}
          {{ $medium := .Resize "700x webp q80" }}
          {{ $large := .Resize "1100x webp q80" }}

          <div class="col-lg-5">
            <div class="story-image">
              <img
                src="{{ $medium.RelPermalink }}"
                srcset="
                  {{ $medium.RelPermalink }} 700w,
                  {{ $large.RelPermalink }} 1100w"
                sizes="(max-width: 991px) 100vw, 42vw"
                width="{{ $medium.Width }}"
                height="{{ $medium.Height }}"
                alt="{{ $page.Title }}">
            </div>
          </div>
        {{ end }}
      {{ end }}

    </div>
  </div>
</section>


{{ partial "gallery.html" . }}
{{ partial "testimonial.html" . }}
{{ partial "client.html" . }}
{{ partial "investor.html" . }}
{{ partial "contactAddress.html" . }}

{{ end }}